$gutter: 20px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-bottom: $gutter;
  margin-left: -($gutter / 2);
}

// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.col {
  display: inline-block;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

  &-12 {
    @include columns(12);
  }

  &-m {
    @media (min-width: 600px) {
      &-12 {
        @include columns(12);
      }

      &-6 {
        @include columns(6);
      }

    }
  }

  &-l {
    @media (min-width: 800px) {
      &-12 {
        @include columns(12);
      }

      &-4 {
        @include columns(4);
      }

    }
  }
}
