body {
  background-color: #333;
}

h1 { /* stylelint-disable-line */
  padding-bottom: 10px;
  font-size: auto;
  color: #fff;
  text-align: left;
}

h2 {
  height: auto;
  color: #fff;
}

p {
  color: #fff;
}

img {
  width: 100%;
}

.myndbond {
  display: block;
}

.kafli {
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.container {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.timinn {
  position: absolute;
  bottom: 35%;
  left: 80%;
  background-color: #333;
}
