.video {
	width: 100%;
	display: block;

	&__option {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}

	&__sign {

		width: 5em;
		height: 5em;
		padding-left: 10px;
		padding-right: 10px;

	}

	&__tilbaka{
		color: white;
	}

	&__href {
		text-decoration: none;
	}

	&__overlay {
		position: relative;

		&__play{

			height: 100%;
			position: absolute;
			left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto;

		}
	}

	&__overlay:before {
		content: '';
		position: absolute;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}


}

