
.video {
	width: 100%;
	display: block;
	margin-bottom: 10px;

	&__option {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		height: max-content;
	}

	&__sign {

		width: 5em;
		height: 5em;
		padding: 10px 10px 10px 10px;

		&__border{
			border: 2px solid rgb(136,136,136);
		}
		
	}

	&__tilbaka{
		color: white;
	}

	&__href {
		text-decoration: none;
	}

	&__overlay {
		position: relative;
		pointer-events: none;

		&__play{
			pointer-events: all;
			position: absolute;
			left:0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			top: calc(50% - 2.5em);
		}
	}

	&__overlay:before {
		content: '';
		position: absolute;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}




}

